
body{
}
.calculator{
	display: flex;
	flex-direction: column;
	padding: 1em;
	width: fit-content;
	background-color: aquamarine;
	border: 1px solid black;
	border-radius: 1rem;
	margin: auto;
	flex-wrap: wrap;
	font: bold 2em monospace;
	gap: 1em;
}
p{
	display: block;
	text-align: left;
	color: #2c4180;
}
.section--sample-Size {
	display: flex;
	align-items: center;
	gap: 1em;
}
.btn-Enter-samples{
	width: fit-content;
	color: white;
	background-color: #1cdd1c;
	border: none;
	border-radius: 5px;
	padding: .3em;
	font-size: .8em;
}

.btn-Enter-samples:hover{
	box-shadow:0px 2px 40px 0px rgba(0,0,0,.3);
}

input{
	display: block;
	height: 15px;
	width: 2.5em;
	border: 2px solid yellow;
	border-radius: 30%;
	border-width: 0.5px;
	margin: 2px 5px;
	font-family: monospace;
	font-size: smaller;
	padding: 0.5rem;
	color: #06062f;
}

.data-values{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 10px 0px;
	justify-content: space-evenly;
}
.section--output{
	display: flex;
	font: 18px  monospace;
	color: #e95a5a;
	font-weight: bold;
}

section.sought-value {
	
}
.sought-value{
	display: grid;
	grid-column-start: auto;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 1fr 1fr; */
	flex-wrap: wrap;
	flex-direction: row;
	margin-left: 0px;
}


h4 {
	margin: auto;
}