
main{display: grid;grid-template-rows: 1fr 8fr 1fr;}
.calculator{
	grid-row: 2;
	display: grid;
	padding: 1.5em 1em;
	width: auto;
	background-color: aquamarine;
	border: 1px solid black;
	border-radius: 1rem;
	margin: auto;
	/* font: bold 1.5rem Bell MT, sans-serif; */
	font: bold 1.5rem monospace;
	gap: 1.5em;
}
p{
	text-align: left;
	color: #2c4180;
}
.section--sample-Size {
	display: flex;
	align-items: center;
	gap: 1em;
	flex-direction: row;
}
.btn-Enter-samples{
	font: inherit;
	width: 15rem;
	height: 3.6rem;
	color: white;
	background-color: blue;
	border: none;
	border-radius: 1rem;
	padding: .3em;
}

.btn-Enter-samples:hover{
	box-shadow:0px 2px 40px 0px rgba(0,0,0,.3);
}

input{
	display: block;
	width: 3.5em;
	border-radius: 1em;
	border-width: 0.5px;
	font-family: monospace;
	margin: 0.5em;
	margin-left: 0;
	font-size: smaller;
	padding: 0.8em;
	text-align: center;
	color: #06062f;
}

.data-values{
	display: grid;
	align-items: center;
	padding: 10px 0px;
	margin-top: .8em;
	justify-content: space-evenly;
	grid-template-columns: repeat(5,auto);
}
.section--output{
	display: flex;
	font: 18px  monospace;
	color: #e95a5a;
	font-weight: bold;
}

section.sought-value {
	
}
.sought-value{
	text-align: center;
	display: grid;
	grid-template-columns: auto auto;
	column-gap: 1.8em;
	grid-template-rows: 1fr 1fr;
}


h4 {
	margin: auto;
}

input.sample-Size {
    width: 8em;
}

section {
    display: flex;
    flex-wrap: wrap;
    align-items:  center;
}

.calculator:hover {
    box-shadow: 0px 2px 40px 0px rgba(0,0,0,.3);
}