body{
	background-color: #6f7c8b ;
	width: 100%;
	margin: auto;
}

nav {
	background-color: #304f95;
	display: flex;
	padding: 5px 5px;
	align-items: flex-start;
	border-radius: 5px;
	color: white;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
}

.nav--title {
	color: #ebefc7;
	display: flex;
	text-shadow: 0px 0px 15px black;
	margin: 10px;
	font: 50px 'Bell MT';
	font-weight: 500;
	height: 100%;
	flex-direction: row;
}

h4{
	text-align: center;
	margin: 10px auto;
}
.nav--topics {
	color: #d2d6f9;
	list-style: none;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	font: 1.05em 'Baskerville Old Face';
	align-content: space-between;
	padding-left: 0px;
	justify-content: center;
}

li{
	margin-top: 5px;
	margin-right: 25px;
	font: 1.05em 'Baskerville Old Face';
	cursor: pointer;
	flex-direction: column;
	align-items: flex-end;
	text-decoration: none;
}

a{
	color: #d2d6f9;
	text-decoration: none;
	
}
.confirm--answers{
	color: #ebefc7;
	text-align: center;
	margin: 10px auto;
	text-shadow: 0px 0px 5px black;
	font-size: 18px;
}
.btn-calculator{
	color: white;
	background-color:limegreen;
	border: 1px solid white;
	font-weight:bold;
	border-radius: 0.5em;
}
.calculatorDisplay{
	display:block;
	background-color: #ffa50021;
}

main {
	text-align: center;
}

section {
	padding: 5px;
	margin-bottom: 5px;
}
.section--paragraph {
	margin: 10px;
	color: wheat;
	font: 20px 'Bell MT';
	text-align: center;
	text-shadow: 1px -3px 10px black;
	display: block;
}

.main{
	background-color: #ffa50021;
	color: wheat;
	margin-bottom: auto auto 20px;
	height: auto;
	text-align:center;
	font: 20px 'Bell MT';
	text-align: center;
}
h1{
	text-shadow: 2px -3px black;
	color: #f2edc5;
	font-size: 2.3vw;
	margin-top: 10px;
	margin-bottom: 5px;
}
.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	margin: auto;
	padding: 5px;
	justify-content: center;
}

.card {
	/* background-color: #bd7a7a; */
	background-color: #c9ae78;
	color: #340909;
	display: flex;
	flex-direction: column;
	margin: 1vw 2vw;
	width: 27%;
	height: auto;
	border: 3px solid #727070;
	border-radius: 2rem;
	align-items: center;
	flex-wrap: wrap;
}

.card-content {
	color: black;
	margin: 0px;
	width: 100%;
	height: auto;
	border-radius: inherit;
}

.card--topic {
	margin-bottom: auto;
	color: #26040a;
	font-size: 1.7vw;
}

pre{
	margin-bottom: auto;
	font-family: inherit;
	color: #fefbd5;
	text-align: center;
	font-size: 1.4vw;
}
.question{
	text-align: justify;
	padding: 5px 1rem;
	width: auto;
	color: black;
	line-height: 100%;
	font-size: 1.5vw;
	font-family: Times New Roman;
}

.salutation{
	text-align: center;
	background-color: #4c7e7e;
	color: white;
	/* border: 1px solid #5f559b; */
	border-radius: 2px;
	margin: auto;
	padding: 10px;
}
footer {
	background-color: #5b667d;
	margin: auto;
	margin-top: 0px;
	padding: 5px 2px;
	color: wheat;
	text-align: center;
}

.btn--another-quiz, .solution{
	background-color: #ffa50066;
	margin-bottom: 15px;
	padding: 5px;
	color: #390303;
	font-size: 1.3vw;
	width: 11vw;
	font-weight: bold;
	font-family: Bell MT;
	border: 1.4px solid #dcc9c9;
	border-radius: 1rem;
}
