body{
	background-color: #6f7c8b;
	width: 100%;
	margin: auto;
}

nav {
	background-color: #304f95;
	display: flex;
	padding: 5px 5px;
	align-items: flex-start;
	border-radius: 5px;
	color: white;
	flex-wrap: wrap;
	margin: auto;
	justify-content: space-between;
	flex-direction: row;
}

.nav--title {
	color: #ebefc7;
	display: flex;
	text-shadow: 0px 0px 15px black;
	margin: auto;
	margin-left: 0.55em;
	font: 2em 'Bell MT';
	font-weight: 500;
	height: 100%;
	flex-direction: row;
}

h4{
	text-align: center;
	margin: 10px auto;
}
.nav--topics {
	color: #d2d6f9;
	list-style: none;
	align-items: flex-start;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	font: 1.05em 'Baskerville Old Face';
	align-content: space-between;
	padding-left: 0px;
	justify-content: center;
}

li{
	margin-top: 5px;
	margin-right: 25px;
	font: 1.05em 'Baskerville Old Face';
	cursor: pointer;
	flex-direction: column;
	align-items: flex-end;
	text-decoration: none;
}

a{
	color: #d2d6f9;
	text-decoration: none;
	
}
.confirm--answers{
	color: #ebefc7;
	text-align: center;
	margin: 10px auto;
	text-shadow: 0px 0px 5px black;
	font-size: 18px;
}
.btn-calculator{
	color: white;
	background-color:limegreen;
	border: 1px solid white;
	font-weight:bold;
	border-radius: 0.5em;
}
.calculatorDisplay{
	display:block;
	background-color: #ffa50021;
}

main {
	display: flex;
	gap: 0.5rem;
	text-align: center;
	flex-direction: column;
}

section {
	margin: 0.5em;
}
.section--paragraph {
	margin: 0.8rem auto 0px;
	color: wheat;
	font: 1.5rem 'Bell MT';
	text-align: center;
	text-shadow: 1px -3px 10px black;
	display: block;
}

.main{
	background-color: #ffa50021;
	color: wheat;
	margin-bottom: auto auto 20px;
	height: auto;
	text-align:center;
	font: 20px 'Bell MT';
	text-align: center;
}
h1{
	text-shadow: 2px -3px black;
	color: #f2edc5;
	font-size: 2.5rem;
	margin: 5px auto 0.5rem;
}
.cards {
	display: grid;
	grid-template-columns: repeat( auto-fit,minmax(20em, 1fr));
	gap: 1em;
	align-items: start;
	margin: 0.5rem 2em;
	padding: 0.5em;
	justify-content: center;
	justify-items: center;
}

.card {
	background-color: #d7b166;
	color: #340909;
	display: grid;
	grid-gap: 0.6rem;
	margin: .8em 0.55em;
	padding: 0.3em 0.4em;
	width: fit-content;
	height: auto;
	border-radius: 1rem;
	align-items: center;
	box-shadow: 0px 0px 8px 0px #4b3535;
}

.card:hover {
    box-shadow: none;
    border: 1px black;
}

.card-content {
	color: black;
	margin: 0px;
	width: 100%;
	height: auto;
	border-radius: inherit;
}

.card--topic {
	margin: 1em auto 0.3rem;
	color: #26040a;
	font-size: 1.6em;
}

pre{
	margin: 0px;
	font-family: inherit;
	color: #fefbd5;
	text-align: center;
	font-size: 1.3rem;
}

pre:hover {
    text-decoration: underline;
}
.question{
	text-align: justify;
	padding: 1rem;
	width: auto;
	color: black;
	line-height: 1.3em;
	font-size: 1.2rem;
	font-family: Times New Roman;
	margin: 0px;
}

.salutation{
	text-align: center;
	background-color: #646f87;
	color: white;
	/* border: 1px solid #5f559b; */
	border-radius: 2px;
	margin: auto auto .5em;
	padding: 1em auto;
}
footer {
	background-color: #5b667d;
	margin: auto;
	margin-top: 0px;
	padding: 5px 2px;
	color: wheat;
	text-align: center;
	position: \;
}

.btn--another-quiz, .solution{
	background-color: #ffa50066;
	margin: 0px auto 0.8em auto;
	padding: 0.5rem;
	width: fit-content;
	color: #390303;
	font-size: 1.3rem;
	font-weight: bold;
	font-family: Bell MT;
	border: 1.4px solid #dcc9c9;
	border-radius: 1rem;
}

.solution:hover {
    height: 1.3em;
    box-sizing: content-box;
    box-shadow: -6px -1.5px 20px 0px #180307;
}

@media screen(1100px){
	.cards {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 1em;
	align-items: center;
	margin: 0.5rem 2em;
	/* padding: 0.5em; */
	justify-content: center;
	justify-items: center;
	}
	
}